.cinder-people {
  .description {
    color: rgb(150, 150, 150) !important;
    font-family: "roboto";
    font-size: 0.9em;
    padding: 1rem 0rem;
  }
  .img-fluid {
    height: 25rem;
  }
}
@media (max-width: 900px) {
  .img-fluid {
    width: 80%;
    height: 80vh !important;
  }
}
@media (max-width: 500px) {
  .img-fluid {
    height: 67vh !important;
    width: 100%;
  }
}
