.cinder-people{
    .description {
        color: rgb(150, 150, 150) !important;
        font-family: "roboto";
        font-size: .9em;
        padding: 1rem 0rem;
    }
    .img-fluid{
        height: 25rem;
    }
}