$img-height: 500px;
.home-intro {
  background-color: rgba($dark, 1);
  background-image: url("../assets/img/sliderbg.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  min-height: $img-height;
  padding: 4em 0em;

  .title,.description {
    color: #fff;
  }
  .description{
    font-size: .96em;
    padding: 2.5em 0em;
  }
  .title{
    font-size: 4em;
    font-weight: 900;
    letter-spacing: -.2px;
  }
  .slider {
    & {
      position: relative;
      height: $img-height;
    }
    &-inner {
      position: absolute;
      bottom: 0;
      top: 10%;
      margin-left: 20%;
    }
    .carousel,img {
      border-radius: 2em;
      margin: auto;
      width: 35vw;
    }
  }
  .btn{
    padding: .9em 1.7em !important;
  }
}
.intro-container{
  overflow-x: hidden;
}
@media (max-width: 980px) {
  .home-intro {
    padding-top: 20%;
    padding-bottom: 20%;
    max-height: max-content !important;
  }
  .title{
    font-size: 3.2em !important;
  }
  .carousel,img{
    transform: none !important;
    width: 48vw;
  }
  .btn{
    padding: .6em 1.5em !important;
  }
}

@media (max-width:600px) {
  .title{
    font-size: 2.5em !important;
    font-weight: 500 !important;
  }
}

@media (max-width:300px) {
  .title{
    font-size: 1.85em !important;
  }
}

