.navbar{
    .nav-link{
        font-weight: 500 !important;
    }
    &-brand{
        font-family: "open-sans";
        font-weight: 900;
    }
    .search{
        width: 40vw;
        border: 1px solid rgb(194, 194, 194);
        border-radius: 0.5rem;
        box-shadow: inset #cacaca 0px 0px 6px 0px;
        background-color: white;
        flex-wrap: nowrap;
        &-input{
            border: 0px;
            outline: none;
            min-width: 90%;
            min-height: 40px;
            background-color: transparent;
            
        }
    }
    &-nav{
        flex-basis:100%;
    }
   
}