.testimonial-img{
    width: 100px;
    height: 100px;
}
.testimonial-box{
    width: 450px;
    z-index: 200;
    position: absolute;
    padding: 60px;
    border-radius: 10px;
    left:0;
    right:0;
}